* 
{
    margin: 0;
    padding: 0;
}
body 
{
    background-color: aqua;
}
.container
{
    width: 300px;
    box-shadow:0px 0px 10px black;
    border-radius:10px;
    padding:25px;
    text-align:center;
    margin:40px auto;
    background-color: white;
}
button
{
    height:40px;
    width:120px;
    border:none;
    background-image: linear-gradient(to bottom right,red,blue);
    color: white;
    border-radius:9px;
    font-weight: bolder;
    text-transform: uppercase;
}
button:active
{
    background-color:white;
    color:#00fe00;
    border: 5px solid black;
}
.container img {
    margin-bottom: 10px; 
}

.container p {
    margin-bottom: 10px; 
}